# .env template file (Do not commit your REAL .env to git)
# Copy this file to a new file named '.env' and put your real values there

# MQTT Setup
MQTT_USERNAME=phoenix
MQTT_PASSWORD=Ambers2026
MQTT_BROKER=b3a389a5b99d452c856bdd2af40b564f.s1.eu.hivemq.cloud

# Camera Setup
RTSP_URL=rtsp://phoenix:ambers%232026@192.168.1.20:554/stream1