# MQTT Setup
MQTT_USERNAME=username_here
MQTT_PASSWORD=your_real_hivemq_password_here
MQTT_BROKER=your_real_broker_url_here.s1.eu.hivemq.cloud

# Camera Setup
RTSP_URL=rtsp://username:your_camera_password@192.168.1.20:554/stream1