# Computer Vision and Matrix Math (For ArUco markers and RTSP stream)
opencv-contrib-python
numpy

# PyTorch Object Detection (For Custom MiniYOLO fire detection)
torch
torchvision

# Model Training & Visualization (Used in Jupyter Notebook)
albumentations
tqdm
matplotlib

# MQTT Communication (To send coordinates to the Raspberry Pi)
paho-mqtt